//------------------
// config vars
// 解决问题:
//   1. 根据端的不同，reset样式也会不同
//   2. 自动计算输出rem单位
// 例如：
//   设计稿为750，但页面调用了640的rem.js
//   设置变量：
//     $design: 750
//     $output: 640
//------------------

/**
 * from reset.scss
 */
$device: 'wap';		//设置reset.css  项目重置方案

/**
 * from rem.scss
 */
$isPX: false; 		//是否输出px单位的尺寸
$design: 750; 		//设计稿尺寸

/**
 * css实际rem单位 需与js脚本对应
 *     640  ->  src/js/lib/rem.js
 *     750  ->  src/js/lib/flexible.js
 */
$output: 640;

/**
 * from media.scss
 */
$dpr: false; //是否使用dpr  @true： media中自带dpr  common中会有f12 f14...等样式