/**
 * Tools
 */
@import "base/mixin.scss";
@import "base/rem.scss";
@import "base/css3.scss";

/**
 * Init Styles
 */
// @import "base/reset.scss";
// @import "base/media.scss";
@import "common.scss";


/*!
 * Sprites 具体用法参考【src/css/_sprites.scss】中的注释
 */
@import "sprites.scss";
@include sprites($spritesheet-sprites); //图片地址发生变化时，可使用第二个参数传入


/*!
 * PostCss用法
 */
@import "postcss.scss";


/*!
 * Page Styles
 */
body {
	font-size: 12px;
}

ul {
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0.25rem;
	}
}

.sprites-svg {
	.icon-svg {
		width: 2em;
		height: 2em;
	}
}

section {
	
}