/**
 * Tools
 */
@import "base/mixin";
@import "base/rem";
@import "base/css3";

/**
 * Init Styles
 */
// @import "base/reset";
// @import "base/media";
// @import "base/common";


/**
 * Demo Styles
 */
@import "sprites";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
}

.rem320 {
	width: rem(320);
	background-color: #f00;
	color: #fff;
}

.rem375 {
	width: rem(375);
	background-color: #f00;
	color: #fff;
}

.sprites {
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 5px;
	}
	@include sprites($spritesheet-sprites);
}